In [4]:
import pandas as pd
data=pd.read_csv("train.csv")

In [5]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
data.shape

(891, 12)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
data.columns=data.columns.str.strip().str.lower()

In [12]:
data["age"].fillna(data["age"].median(),inplace=True)

/tmp/ipython-input-2617239930.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["age"].fillna(data["age"].median(),inplace=True)

In [14]:
data['embarked'].fillna(data['embarked'].mode()[0],inplace=True)

/tmp/ipython-input-3620667032.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['embarked'].fillna(data['embarked'].mode()[0],inplace=True)

In [15]:
data.drop(columns=['cabin'],inplace=True)

In [16]:
data.drop(columns=["passengerid", "name", "ticket"], inplace=True)

In [18]:
data.duplicated().sum()
data.drop_duplicates(inplace=True)

In [20]:
data["sex"]=data["sex"].astype("category")
data['embarked']=data["embarked"].astype("category")

In [24]:
Q1=data["fare"].quantile(0.25)
Q2=data["fare"].quantile(0.75)
mid=Q2-Q1
data=data[(data["fare"]>=Q1-1.5*mid) & (data["fare"]<=Q2+1.5*mid)]

In [26]:
data=pd.get_dummies(data,drop_first=True)

In [31]:
data.info()
data.isnull().sum()
data.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 673 entries, 0 to 890
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   survived    673 non-null    int64
 1   pclass      673 non-null    int64
 2   age         673 non-null    float64
 3   sibsp       673 non-null    int64
 4   parch       673 non-null    int64
 5   fare        673 non-null    float64
 6   sex_male    673 non-null    bool
 7   embarked_Q  673 non-null    bool
 8   embarked_S  673 non-null    bool
dtypes: bool(3), float64(2), int64(4)
memory usage: 38.8 KB

         survived      pclass         age       sibsp       parch        fare
count  673.000000  673.000000  673.000000  673.000000  673.000000  673.000000
mean     0.365527    2.427935   28.950223    0.509658    0.396731   19.496087
std      0.481936    0.762549   13.604993    1.022214    0.837258   14.809501
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   21.000000    0.000000    0.000000    7.895800
50%      0.000000    3.000000   28.000000    0.000000    0.000000   13.000000
75%      1.000000    3.000000   36.000000    1.000000    0.000000   26.550000
max      1.000000    3.000000   80.000000    8.000000    6.000000   71.283300